.map-control-panel .map-control-button{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-size: 100% 100%;
}

.map-control-zoom-in {
	background-image: url("/pentaho/content/pentaho-cdf-dd/resources/custom/amd-components/Map/theme/dark/zoom-plus-mini.png");
}

.map-control-zoom-out {
	background-image: url("/pentaho/content/pentaho-cdf-dd/resources/custom/amd-components/Map/theme/dark/zoom-minus-mini.png");
}

.map-control-pan {
	background-image: url("/pentaho/plugin/pentaho-cdf/api/resources/js/lib/OpenMap/OpenLayers/img/panning-hand-off.png");
}

.map-control-select {
	background-image: url("/pentaho/plugin/pentaho-cdf/api/resources/js/lib/OpenMap/OpenLayers/img/drag-rectangle-off.png");
}

.map-control-zoombox {
	background-image: url("/pentaho/plugin/pentaho-cdf/api/resources/js/lib/OpenMap/OpenLayers/img/zoom-world-mini.png");
}